body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    width: 65px;
    height: 104.5px;
}

h1{
    font-size: 39px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 5px black solid;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 5px black solid;
    height: 500px;
}

form{
    margin: 0 auto;
}

main > h1{
    margin: 0 auto;
    font-size: 32px;
}

footer > a{
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer{
    display: flex;
}

form > button{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}