body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    width: 65px;
    height: 104.5px;
}

h1{
    font-size: 39px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 5px black solid;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 5px black solid;
    height: 500px;
}

form{
    margin: 0 auto;
}

main > h1{
    margin: 0 auto;
    font-size: 32px;
}

footer > a{
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer{
    display: flex;
}

form > button{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 1024px) {
    body {
        max-width: 1200px;
        margin: 0 auto;
    }

    img {
        width: 80px;
        height: 128px;
    }

    h1 {
        font-size: 48px;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 5px black solid;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 5px black solid;
        height: 450px;
    }

    form {
        margin: 0 auto;
    }

    main > h1 {
        margin: 0 auto;
        font-size: 42px;
    }

    footer > a {
        margin: 20px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer {
        display: flex;
    }

    form > button {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    h1{
        font-size: 40px;
    }

    img{
        width: 70px;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 5px black solid;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 5px black solid;
        height: 750px;
    }
    
    main > h1 {
        margin: 0 auto;
        font-size: 42px;
    }

    form{
        margin: 0 auto;
    }
    
    footer > a {
        margin: 20px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer {
        display: flex;
    }

    form > button {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    h1{
        font-size: 40px;
    }

    img{
        width: 60px;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 5px black solid;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 5px black solid;
        height: 850px;
    }
    
    main > h1 {
        margin: 0 auto;
        font-size: 42px;
    }

    form{
        margin: 0 auto;
    }
    
    footer > a {
        margin: 20px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer {
        display: flex;
    }

    form > button {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
}