body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(
        135deg,
        #f0b23d 0%,
        #d6471e 20%,
        #c40000 50%,
        #9b1e3f 75%,
        #5c4a92 100%
    );
    height: 500%;
    width: 100%;
}

footer{
    background: transparent;
}

.logo{
    width: 125px;
    height: 120px;
}

h1{
    font-size: 39px;
}

main > h1{
    font-size: 20px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 5px black solid;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 5px black solid;
}

form{
    margin: 0 auto;
}

main > h1{
    margin: 0 auto;
    font-size: 32px;
}

footer > a{
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer{
    display: flex;
}

.loginForm > button{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.loginForm input{
    text-align: center;
    border-radius: 7px;
    background: transparent;
}

.container select{
    background: transparent;
}

input::placeholder, select::placeholder{
    color: #000;
}

tr, td, th{
    border: 2px solid black;
    text-align: center;
}

.container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0px auto;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.container > select {
  border-radius: 6px;
  border: 1px solid #000;
}

.welcomeUser{
    margin-top: 20px;
}

.containerNews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto 20px auto;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.containerNews > img{
    width: 640px;
}

.containerNews > p{
    width: 640px;
}

#calendar-container {
  width: 665px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #fff;
  margin: 0 auto;
 }

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

#calendar div {
  text-align: center;
  padding: 10px 0;
}

.day-name {
  font-weight: bold;
}

.day {
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.day:hover {
  background-color: #f0f0f0;
}

.mainNews{
    height: auto;
}

@media screen and (min-width: 1024px) {
    body {
        max-width: 1200px;
        margin: 0 auto;
    }

    .logo {
        width: 125px;
        height: 120px;
    }

    h1 {
        font-size: 35px;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 5px black solid;
    }

    .searcher{
        margin-top: 30px;
        background: transparent;
        border-radius: 5px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 5px black solid;
        margin-bottom: 20px;
        margin-top: 20px;
        height: 430px;
    }

    .loginForm {
        margin: 10px auto 10px auto;
        align-items: center;
    }

    .loginForm > input{
        margin: 10px 0 10px 0;
    }

    footer > a {
        margin: 20px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer {
        display: flex;
    }

    form > button {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        background: transparent;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 0 8px 20px rgba(0,0,0,0.25);

    }
}

@media (min-width: 768px) and (max-width: 1023px){
    h1{
        font-size: 37px;
    }

    .logo{
        width: 125px;
        height: 120px;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 5px black solid;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 5px black solid;
    }
    
    main > h1 {
        margin: 0 auto;
        font-size: 42px;
    }

    form{
        margin: 0 auto;
    }
    
    footer > a {
        margin: 20px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer {
        display: flex;
    }

    form > button {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    h1{
        font-size: 40px;
    }

    .logo{
        width: 125px;
        height: 120px;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 5px black solid;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 5px black solid;
        height: 850px;
    }
    
    main > h1 {
        margin: 0 auto;
        font-size: 42px;
    }

    form{
        margin: 0 auto;
    }
    
    footer > a {
        margin: 20px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 12px;
    }

    footer {
        display: flex;
    }

    form > button {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }
}