.jumbotron-custom {
    position: relative;
    height: 450px;
}

.jumbotron-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./img/Bocetos_Falleras/Refugio.jpeg");
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* solo la imagen */
}

.jumbotron-content {
    position: relative; /* crea su propio contexto */
    height: 100%;
    color: white;
    padding: 2rem;
}

h1{
    color: black;
}

.card-img-top{
    height: 100%;
    width: 100%;
}

.logo{
    height: 225px;
    width: 225px;
}

i{
    color: #5D5ABB;
}

i:hover{
    color: #E28E52;
    border: solid #E28E52 2px;
}

.menu{
    background-color: #E28E52;
    opacity: 75%;
    border-radius: 10px;
}

i:active{
    color: #E28E52;
}

a{
    opacity: 100%;
}

li:hover{
    color: #5D5ABB;
}

.menu{
    width: 225px;
}

.drop-i{
    border: solid #5D5ABB 2px;
    border-radius: 90%;
    transition: transform 0.25s ease, color 0.25s ease, border-color 0.25s ease;
    display: inline-block; 
}

.drop-i:hover{
    transform: scale(1.5);
}

.navbar-toggler[aria-expanded="true"] .drop-i {
    color: #E28E52;
    transform: scale(1.15);
    transition: all 0.5s;
    border: solid #E28E52 2px;
}

.navbar-toggler[aria-expanded="true"] .drop-i:hover {
    color: #5D5ABB;
    transform: scale(1.5);
    transition: all 2s;
    border: solid #5D5ABB 2px;
}

.btn{
    border: solid #5D5ABB 1px;
    color: #5D5ABB;
}

.btn:hover{
    border: solid #E28E52 1px;
    color: #E28E52;
}